extends layout.pug

block content

  article.portfolio-intro

    h1 My portfolio

    p This Portfolio showcases each project I have created with unwavering determination through the uses of HTML, CSS, and Javascript.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`Thumbnail for ${project.title}`)
            h5 #{project.title}

