<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/images/me.png', alt='Picture of Devon Poston')
        .dev-intro-box

          //- Replace with your name
          h5 Devon Poston

          //- Replace with description of who you are, what you do, and why you are so awesome
          p  My name is Devon and I love a lot of things about the web! As of now I have yet to have much experience in the workforce, but I know that with experience comes knowledge and knowledge comes with patience, time, and dedication. Furthermore, I'm a life-long learner who's always interested in expanding my skills and I'm excited to bring my life experience to the process of building fantastic looking websites.

          //- Add path from your '/about' route handler to the href below
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- Replace with your name — this is for the mobile layout
          span Devon Poston

      block content

  script(src='/static/js/script.js')